<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hotelbooking">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activity.DanhGia"></activity>
        <activity android:name=".activity.PhongActivity" />
        <activity android:name=".activity.ChiTietKhachSanActivity" />
        <activity android:name=".activity.TaiKhoanActivity" />
        <activity
            android:name=".activity.ThongTinActivity"
            android:label=".activity@string/title_activity_thong_tin" />
        <activity android:name=".activity.ThongTinKhachHangActivity" />
        <activity android:name=".activity.DaNangActivity" />
        <activity android:name=".activity.HaNoiActivity" />
        <activity android:name=".activity.HoChiMinhActivity" />
        <activity android:name=".activity.DangKyActivity" />
        <activity android:name=".activity.DangNhapActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"/>


    </application>

</manifest>